In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.svm import SVC

In [25]:
data = pd.read_pickle("./clean_data.pickle")

In [35]:
data.loc[data["salary"] == 1, :]

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,salary
7,52,2,209642,2,9,1,1,2,0,1,0,0,45,0,1
8,31,1,45781,3,14,0,1,3,0,0,1,0,50,0,1
9,42,1,159449,3,13,1,1,2,0,1,1,0,40,0,1
10,37,1,280464,2,10,1,1,2,3,1,0,0,80,0,1
11,30,0,141297,3,13,1,1,2,2,1,0,0,40,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48813,60,1,117909,2,11,1,1,2,0,1,1,0,40,0,1
48815,38,1,149347,3,14,1,1,2,0,1,0,0,50,0,1
48816,43,0,23157,3,14,1,1,2,0,1,0,1,50,0,1
48822,40,1,202168,3,15,1,1,2,0,1,1,0,55,0,1
48841,35,2,182148,3,13,1,1,2,0,1,0,0,60,0,1

In [3]:
x = data.drop(columns=["salary"])
y = data["salary"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [4]:
standard_scaler = StandardScaler()
x_train = standard_scaler.fit_transform(x_train)
x_test = standard_scaler.transform(x_test)

In [5]:
from typing import Literal
kernels: list[Literal["linear", "poly", "sigmoid", "rbf"]] = ['linear', 'poly', 'sigmoid', 'rbf']

In [6]:
models = {}
for kernel in kernels:
    model = SVC(kernel=kernel)
    model.fit(x_train, y_train)
    models[kernel] = model.score(x_test, y_test)

In [10]:
best_kernel = [best_model for best_model, score in models.items() if score == max(models.values())][0]

In [11]:
best_kernel

'rbf'

In [30]:
y_pred = model.predict(x_test)
confusion_matrix(y_test, y_pred)

array([[9534,  659],
       [1537, 1837]], dtype=int64)

In [12]:
model = SVC(kernel=best_kernel)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8381366551190389

In [37]:
model.score(x_train, y_train)

0.8385721055125572

In [33]:
print(classification_report(y_test, model.predict(x_test)))

              precision    recall  f1-score   support

           0       0.86      0.94      0.90     10193
           1       0.74      0.54      0.63      3374

    accuracy                           0.84     13567
   macro avg       0.80      0.74      0.76     13567
weighted avg       0.83      0.84      0.83     13567

In [36]:
x = pd.DataFrame(data=np.array([data.loc[48813, data.columns.drop(["salary"])]]), columns=data.columns.drop(["salary"]))
x = standard_scaler.transform(x)
model.predict(X=x)

array([1])