In [1]:
import pandas as pd
import numpy as np

In [2]:
columns = [
    "age", "workclass", "final_weight", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "sex",
    "capital_gain", "capital_loss", "hours_per_week", "country", "salary"
]

In [3]:
data = pd.read_csv('./data_evaluacion.csv', names=columns)

In [4]:
data.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data.describe()

,age,final_weight,education_num,capital_gain,capital_loss,hours_per_week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
data.shape

(48842, 15)

In [7]:
data.dtypes

age                int64
workclass         object
final_weight       int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
country           object
salary            object
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   final_weight    48842 non-null  int64
 3   education       48842 non-null  object
 4   education_num   48842 non-null  int64
 5   marital_status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital_gain    48842 non-null  int64
 11  capital_loss    48842 non-null  int64
 12  hours_per_week  48842 non-null  int64
 13  country         48842 non-null  object
 14  salary          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [9]:
data["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [10]:
data["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [11]:
data["marital_status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [12]:
data["occupation"].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [13]:
data["relationship"].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [14]:
data["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [15]:
data["sex"].unique()

array(['Male', 'Female'], dtype=object)

In [16]:
data["country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [17]:
data["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [18]:
data['country'] = data['country'].replace('?', np.nan)
data['workclass'] = data['workclass'].replace('?', np.nan)
data['occupation'] = data['occupation'].replace('?', np.nan)
data.dropna(how='any', inplace=True)

In [19]:
data["workclass"] = data["workclass"].replace(
    ['Federal-gov', 'Local-gov', 'State-gov'], 'public')
data["workclass"] = data["workclass"].replace(['Private'], 'private')
data["workclass"] = data["workclass"].replace(
    ['Self-emp-inc', 'Self-emp-not-inc'], 'self_employed')
data["workclass"] = data["workclass"].replace(
    ['Without-pay', 'Never-worked'], 'without_pay')

workclass_map = {'public': 0, 'private': 1,
                 'self_employed': 2, 'without_pay': 3}
data['workclass'] = data["workclass"].map(workclass_map).astype(int)

In [20]:
data["education"] = data["education"].replace(['Bachelors', 'Masters', 'Doctorate', 'Prof-school'], 'Higher_Education')
data["education"] = data["education"].replace(['HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc'], 'College')
data["education"] = data["education"].replace (['11th', '9th', '7th-8th', '5th-6th', '10th', '1st-4th', '12th', 'Preschool'], 'School')

education_map = {
    'Higher_Education': 3,
    'College': 2,
    'School': 1
}

data['education'] = data['education'].map(education_map).astype(int)

In [21]:
data['marital_status'] = data['marital_status'].replace(
    ['Divorced', 'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'], 'Single')
data['marital_status'] = data['marital_status'].replace(
    ['Married-AF-spouse', 'Married-civ-spouse'], 'Couple')

marital_status_map = {
    "Single": 0,
    "Couple": 1
}
data["marital_status"] = data["marital_status"].map(marital_status_map).astype(int)

In [22]:
data["occupation"] = data["occupation"].replace(['Adm-clerical', 'Exec-managerial', 'Prof-specialty'], 'Professional')
data["occupation"] = data["occupation"].replace(['Handlers-cleaners', 'Other-service', 'Protective-serv', 'Priv-house-serv'], 'Service')
data["occupation"] = data["occupation"].replace(['Craft-repair', 'Transport-moving', 'Farming-fishing'], 'Manual')
data["occupation"] = data["occupation"].replace(['Machine-op-inspct', 'Tech-support'], 'Technical')
data["occupation"] = data["occupation"].replace(['Sales'], 'Sales')
data["occupation"] = data["occupation"].replace(['Armed-Forces'], 'Military')

occupation_map = {
    'Professional': 1,
    'Service': 2,
    'Manual': 3,
    'Technical': 4,
    'Sales': 5,
    'Military': 6
}

data['occupation'] = data['occupation'].map(occupation_map).astype(int)

In [23]:
relationship_map = {'Unmarried': 0, 'Wife': 1, 'Husband': 2,
                    'Not-in-family': 3, 'Own-child': 4, 'Other-relative': 5}

data['relationship'] = data['relationship'].map(relationship_map)

In [24]:
race_map = {'White': 0, 'Amer-Indian-Eskimo': 1,
            'Asian-Pac-Islander': 2, 'Black': 3, 'Other': 4}
data['race'] = data['race'].map(race_map)

In [25]:
sex_map = {'Male': 1, 'Female': 0}
data['sex'] = data['sex'].map(sex_map).astype(int)

In [26]:
data.loc[(data['capital_gain'] > 0),'capital_gain'] = 1
data.loc[(data['capital_gain'] == 0 ,'capital_gain')]= 0

In [27]:
data.loc[(data['capital_loss'] > 0), 'capital_loss'] = 1
data.loc[(data['capital_loss'] == 0, 'capital_loss')] = 0

In [28]:
data['country'] = data['country'].replace(
    ['United-States', 'Canada', 'Outlying-US(Guam-USVI-etc)'], 'North-America')
data['country'] = data['country'].replace(
    ['Mexico', 'Puerto-Rico', 'Cuba', 'Jamaica', 'Honduras', 'South', 'Dominican-Republic',
     'El-Salvador', 'Guatemala', 'Nicaragua', 'Haiti', 'Trinadad&Tobago'], 'Central-America-Caribbean')
data['country'] = data['country'].replace(
    ['England', 'Germany', 'Italy', 'Poland', 'Scotland', 'Ireland', 'Hungary', 'Holand-Netherlands',
     'France', 'Greece', 'Yugoslavia', 'Portugal'], 'Europe')
data['country'] = data['country'].replace(
    ['India', 'Iran', 'Philippines', 'Cambodia', 'Thailand', 'Laos', 'Taiwan', 'Vietnam', 'China',
     'Japan', 'Hong'], 'Asia')
data['country'] = data['country'].replace(
    ['Ecuador', 'Peru', 'Colombia', 'Columbia'], 'South-America')

country_map = {
    "North-America": 0,
    "Central-America-Caribbean": 1,
    "Europe": 2,
    "Asia": 3,
    "South-America": 4,
}

data["country"] =data["country"].map(country_map).astype(int)

In [29]:
salary_map = {'<=50K': 0, '>50K': 1}
data['salary'] = data['salary'].map(salary_map).astype(int)

In [30]:
data.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,salary
0,39,0,77516,3,13,0,1,3,0,1,1,0,40,0,0
1,50,2,83311,3,13,1,1,2,0,1,0,0,13,0,0
2,38,1,215646,2,9,0,2,3,0,1,0,0,40,0,0
3,53,1,234721,1,7,1,2,2,3,1,0,0,40,0,0
4,28,1,338409,3,13,1,1,1,3,0,0,0,40,1,0

In [31]:
data.shape

(45222, 15)

In [32]:
data.to_pickle("./clean_data.pickle")